.top-row {
    min-height: 3.5rem;
    background-color: red;
}

.navbar-brand {
    font-size: 1.5rem;
    color: black;
}

.navbar-nav {
    gap: 12rem; 
}

.nav-second {
    justify-content : center;
}

.register-btn {
    background-color: #a2a092;
    color: #2e2e2e
}

/* Dla ekranów mniejszych ni¿ 1200px */
@media (max-width: 1199px) {
    .navbar-nav {
        gap: 6rem;
    }
}

/* Dla ekranów mniejszych ni¿ 768px */
@media (max-width: 767px) {
    .nav-first {
        justify-content: space-between;
    }

    .nav-second {
        justify-content: start;
    }

    .container.d-flex {
        flex-direction: column !important;
        align-items: stretch !important; /* opcjonalnie, aby elementy zajmowa³y pe³n¹ szerokoœæ */
    }

    .container.d-flex > div {
        width: 100%; /* opcjonalnie, by divy zajmowa³y ca³¹ szerokoœæ w kolumnie */
    }

    .navbar-nav {
        gap: 3rem;
    }

    .login-btn.d-md-none {
        display: inline-block !important; /* login widoczny w mobilce */
    }

    .login-btn.d-none.d-md-block {
        display: none !important; /* login ukryty na mobilce w prawej sekcji */
    }

    .register-btn {
        display: none !important; /* register ukryty na mobilce */
    }
}

.nav-item {
    font-size: 1.5rem;
    color: black;
}

    .nav-item .nav-link {
        color: #d7d7d7;
        border-radius: 4px;
        display: flex;
        align-items: center;
        font-size: 2rem;
    }

        .nav-item .nav-link.active {
            background-color: #d7d7d7;
            color: black;
        }

        .nav-item .nav-link:hover {
            background-color: #d7d7d7;
            color: black;
        }

