.code-box {
    width: 70px;
    height: 90px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    /*border: 2px solid #333;*/
    border-radius: 20px;
    background-color: rgb(160, 160, 160);
    color: white;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s, background-color 0.2s;
    caret-color: #fff;
}

    .code-box:focus {
        /*border-color: #1e1e1e;*/
        box-shadow: 0 0 0 3px rgba(128, 128, 128, 0.2);
        background-color: #1e1e1e;
    }

.six-boxes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0px;
}
