.content {
    background-color: var(--primary-grey-color);
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main-content-body {
    flex: 1;
    overflow-y: auto;
    background-color: var(--primary-grey-color);
    margin: 130px 0 0;
}
