.new-gallery-page {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    text-align: right;
}

.add-new-gallery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.add-new-gallery-btn {
    font-size: 90px; 
    cursor: pointer;
}

.add-new-gallery figcaption {
    margin-top: 8px;
    font-size: 1.2rem;
    color: #555;
    font-weight :bold;
}

.catchphrase {
    margin: 80px;
    font-size: 3rem;
    font-weight: 600;
    color: var(--darker-grey-color);
}
