.tabs {
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: aquamarine;
    list-style-type: none;
    padding: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: solid 1px black;
}

    .tabs li {
        display: flex;
        flex: 1;
        padding: 5px;
        align-items: center;
        justify-content: center;
        border-right: solid 1px black;
        gap: 20px;
    }

        .tabs li:first-child {
            border-top-left-radius: 10px; 
        }

        .tabs li:last-child {
            border-top-right-radius: 10px;
            flex: 2;
            border: 0;
        }

.import-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 90%;
    height: 100%;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.active {
    background-color: #007bff;
    color: white;
}
