.menu-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
    margin: 5px 14px;
    width: 82px;
    cursor: pointer;
}

    .menu-element p {
        margin: 0;
        font-size: 11px;
        font-weight: bold;
    }

    .menu-element:hover p, .menu-element:hover span {
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

    #icon {
        font-size:36px;
    }

