ul, li {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: column;
    width: 110px;
    background-color: var(--primary-grey-color);
    justify-content: space-between;
    list-style: none;
}

    nav li {
        width:100%;
        list-style: none;
        margin:0px;
    }

.elements.down {
    margin-bottom:80px;
}

h2 {
    margin: 6px;
    text-align: center;
    margin-top: 43px;
    margin-bottom: 80px;
}

.main-nav-menu ul li {
    position: relative;
}

.submenu {
    position: absolute;
    top: -15px;
    left: 100%;
    background-color: blue;
    width: 200px;
    display: block;
    padding: 0;
    margin: 5px;
}

    .submenu li {
        list-style: none;
        padding: 5px 10px;
        margin-bottom: 8px; /* odstęp między elementami pionowo */
    }
