#section4 .boxes {
    background-color: #201f1f;
    color: white;
    display: flex;
    width: 100%;
    gap: 4%;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
}

.section-box {
/*    border: 1px solid red;*/
    width: 100%;
    height: auto;
    display: flex;
}

.plus-icon {
    width: 30px;
    height: 30px;
    margin: 10px;
}

    .plus-icon:hover {
        transform: scale(1.2); /* powiększenie do 120% */
        transition: transform 0.2s ease;
    }

/*    .plus-icon:active {
        transform: rotate(45deg);
        transition: transform 0.2s ease;
    }*/

.rotate-45 {
    /* Rotacja o 45 stopni */
    transform: rotate(45deg);
}

/* Gdy jest i rotacja i hover, łącz transformacje */
.plus-icon.rotate-45:hover {
    transform: scale(1.2) rotate(45deg);
}

.text{
    margin-top : 10px;
}
