.submenu {
    position: sticky;
    top: 0vh;
    overflow: hidden;
    background-color: #FFF;
    z-index: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    margin: 0px;
    padding : 0px;
}

    .menu > * {
        margin-right: 10px;
        padding: 10px;
        cursor: pointer;
    }

        .menu > *:hover {
            transform: scale(1.2);
            transition: transform 0.2s ease;
        }

.nonactive {
    color: grey;
    font-size: 0.9rem;
}

.active {
    font-weight: bold;
    color: black;
    font-size: 0.9rem;
}

.submenuname {
    margin: 0;
    display: flex;
    align-items: center;
}

section {
    width: 100%;
    height: 70vh;
    border: 1px solid #ccc;
    display: flex;
}

#section1 .left, #section1 .right {
    background-color: #e4e4e4;
}

#section2 .left, #section2 .right {
    background-color: #201f1f;
    color:white;
}

#section3 .left, #section3 .right {
    background-color: #e4e4e4;
}

#section4 {
    min-height: 250px;
    height: auto;
}

.left {
   height: 100%;
   width: 50%;
   display: flex;
   align-items: start;
   justify-content: center;
   flex-direction: column;
   text-align:left;
}

    .left.both-padding {
        padding-left: 15%;
        padding-right: 10%;
    }

.right {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    text-align: right;
}

    .right.both-padding {
        padding-right: 15%;
        padding-left: 10%;
    }

img {
    max-height: 90%;
    max-width: auto;
}
