.content {
    background-color: var(--primary-grey-color);
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%; /* nie wychodź poza ekran, nawet na mobile */
    height: 100vh; /* cała wysokość okna przeglądarki */
    overflow: hidden; /* ukryj przewijanie dla całej strony */
}

.main-content-body {
    flex: 1; /* zajmuje pozostałą przestrzeń po menu */
    overflow-y: auto; /* pojawia się scroll tylko, gdy treść przekracza wysokość */
    background-color: var(--primary-grey-color);
    margin: 130px 0 0;
}
