.menu-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px; /* Odstęp między ikonką a tekstem */
}

    .menu-element img {
        display: block;
        width: 32px; /* Dostosuj rozmiar ikonki */
        height: 32px;
        object-fit: contain; /* Zachowuje proporcje ikonki */
    }

    .menu-element p {
        margin: 0;
        font-size: var(--font-size-sm); /* Mniejszy tekst dla ikonki */
    }
