.webDesignContent {
    margin: 60px;
    display : flex;
    gap: 15px;
    flex-direction : column;
}

.setting {
    display: flex;
    flex-direction: row;
    background-color: lightgreen;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
}

    .setting > h5 {
        flex: 0 0 15%; 
        margin: 0;
        background-color : palevioletred;
    }

    .setting > :not(h5) {
        flex-grow: 1;
        min-width: 0;
    }

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}

img {
    max-height:80px;
}



.circle {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.first-color {
    background-color: #e74c3c;
}

.second-color {
    background-color: #2ecc71;
}

.third-color {
    background-color: #3498db;
}

.fourth-color {
    background-color: #123123;
}

input[type="color"].circle {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

    input[type="color"].circle::-webkit-color-swatch {
        border: none; 
        border-radius: 50%; 
        padding: 0;
    }

    input[type="color"].circle::-moz-color-swatch {
        border: none;
        border-radius: 50%;
    }


.gradient-color {
    background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}



.font-picker {
    border : solid 3px black;
    min-width : 300px;
    height : 60px;
    align-items: center;

}
