@page "/login"

<div class="login-container">
    <div class="login-form">
        <div>
            <h1>Logowanie</h1>
            <form>
                <!-- pola formularza -->
                <input type="text" placeholder="Login" />
                <input type="password" placeholder="Hasło" />
                <button type="submit">Zaloguj się</button>
            </form>
        </div>
    </div>

    <div class="login-image">
    </div>
</div>
